html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EDEDF2;
  font-family: 'Montserrat', sans-serif;
  color: #181818;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 4.1rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.1rem;
}

p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.7;
}

.primary-btn {
  background: #3475D9;
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 600;
  padding: 1.7rem 2.7rem;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  z-index: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.primary-btn:hover {
  background: #0A46A2;
}

.primary-btn:hover::before {
  top: 0px;
  left: 0px;
  border: 1px solid #0A46A2;
}

.primary-btn,
.primary-btn::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.primary-btn::before {
  content: '';
  border: 1px solid #3475D9;
  border-radius: 4px;
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 7px;
  left: 7px;
  z-index: -1;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.secondary-btn {
  text-decoration: none;
  font-size: 1.6rem;
  color: #3475D9;
  padding: 1.7rem 2.5rem;
  background-color: rgba(255, 255, 255, 0.17);
  border: 1px solid #3475D9;
  border-radius: 4px;
  font-weight: 600;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.secondary-btn:hover {
  background-color: #3475D9;
  color: #FFFFFF;
}

.link {
  text-decoration: none;
  color: #3475D9;
  font-weight: 600;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.link:hover {
  color: #0A46A2;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.gone {
  top: -100px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.scrolled {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.75) 60%, rgba(215, 218, 222, 0.75) 80%);
  -webkit-backdrop-filter: blur(20px) brightness(130%);
          backdrop-filter: blur(20px) brightness(130%);
  -webkit-box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.05);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.05);
}

.active {
  color: #0A46A2 !important;
}

.active:hover {
  color: #3475D9 !important;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 2;
  padding: 2.5rem 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navbar .container {
  width: 100rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container img {
  height: 5rem;
}

.navbar .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
}

.navbar .container ul li {
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar .container ul li a {
  color: #181818;
  text-decoration: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.navbar .container ul li a i {
  margin-right: 8px;
}

.navbar .container ul li a:hover {
  color: #3475D9;
}

.navbar .container a i {
  margin-right: 8px;
}

#hero-section {
  text-align: center;
  color: #181818;
  background: url(../images/heroImage-min.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  max-height: 128rem;
}

#hero-section .content {
  position: absolute;
  top: 20%;
  margin: auto;
  width: 100%;
}

#hero-section .content h3 {
  margin-top: 0;
  margin-bottom: 11px;
}

#hero-section .content h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

#hero-section .content h1 {
  opacity: 0.41;
  margin-top: 0;
  margin-bottom: 35px;
}

#hero-section .content a {
  margin-top: 0;
}

.concrete-bg {
  background-image: url(../images/concrete_bg-l-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-header {
  background-color: #181818;
  height: 10rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.section-header h3 {
  color: #ffffff;
  text-align: center;
  margin: auto;
}

.work-header, .skills-header {
  z-index: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#work-light-bg {
  background-color: rgba(255, 255, 255, 0.75);
}

#work-dark-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

#work-dark-bg h2, #work-dark-bg h4, #work-dark-bg p {
  color: #ffffff;
}

.work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100rem;
  margin: auto;
  padding: 11rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-container .work-hero {
  width: 40rem;
  height: auto;
}

.work-container .work-content {
  width: 48%;
}

.work-container .work-content h2, .work-container .work-content h4, .work-container .work-content p, .work-container .work-content a {
  margin-top: 0;
}

.work-container .work-content h2 {
  margin-bottom: 1rem;
}

.work-container .work-content h4 {
  opacity: 0.75;
}

.work-container .work-content h4, .work-container .work-content p {
  margin-bottom: 3rem;
}

.skills-container {
  background: radial-gradient(rgba(173, 171, 171, 0.27), #020d1d);
  background-blend-mode: soft-light;
  background-image: url(/images/skills-bg-min.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.skills-container .skills {
  width: 100rem;
  margin: auto;
  padding: 11rem 0;
}

.skills-container .skills .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.skills-container .skills .row .skill {
  width: 30rem;
  text-align: center;
}

.skills-container .skills .row .skill img {
  height: 20rem;
  margin-bottom: -3rem;
}

.skills-container .skills .row .skill h4, .skills-container .skills .row .skill p {
  color: #ffffff;
}

.skills-container .skills .row .skill h4 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.skills-container .skills .row .skill p {
  font-weight: 400;
}

.skills-container .skills .row.top {
  margin-bottom: 7rem;
}

#coffee .coffee-mug {
  text-align: center;
  padding: 7.3rem 0;
}

#coffee .coffee-mug h2 {
  margin-bottom: 2rem;
  margin-top: 0;
}

#coffee .coffee-mug h4 {
  font-weight: 500;
  width: 45rem;
  margin: auto;
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 6rem;
}

#coffee .coffee-mug .contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50rem;
  margin: 0 auto;
}

#coffee .coffee-mug .contact-icons a {
  text-decoration: none;
  color: #3475D9;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#coffee .coffee-mug .contact-icons a i {
  margin-bottom: 1rem;
}

#coffee .coffee-mug .contact-icons a span {
  font-size: 1.6rem;
  font-weight: 600;
}

#coffee .coffee-mug .contact-icons a:hover {
  color: #0A46A2;
}

@media (max-width: 1439px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 1024px) {
  .navbar .container ul {
    width: 50rem;
  }
}

@media (max-width: 1024px) {
  #hero-section {
    background-position: center;
  }
}

@media (max-width: 768px) {
  .navbar .container {
    width: 85%;
  }
  .navbar .container ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .container ul li:nth-child(-n+2) {
    display: none;
    pointer-events: none;
  }
  .navbar .container .fa-bars {
    font-size: 2.4rem;
  }
  .work-container {
    width: 85%;
  }
  .work-container img {
    max-width: 35rem;
  }
  .skills {
    max-width: 85%;
  }
  .skills .skill {
    max-width: 25rem;
  }
}

@media (max-width: 540px) {
  .navbar .container {
    width: 85%;
  }
  .navbar .container ul {
    display: none;
    pointer-events: none;
  }
  #hero-section .content {
    width: 85%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 13%;
  }
  #hero-section .content h2 {
    font-size: 4rem;
  }
  .work-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work-container img {
    margin-bottom: 3rem;
  }
  .work-container .work-content {
    width: 100%;
    text-align: center;
  }
  .skills {
    padding-top: 8rem !important;
  }
  .skills .row.top {
    margin-bottom: 0 !important;
  }
  .skills .row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .skills .row .skill {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .coffee-mug {
    max-width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .coffee-mug h4 {
    max-width: 100%;
  }
  .coffee-mug .contact-icons {
    max-width: 100%;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 360px) {
  .navbar .container a img {
    height: 4rem;
  }
  .navbar .container .secondary-btn {
    font-size: 1.4rem;
  }
  #hero-section .content {
    top: 14%;
  }
  #hero-section .content h3 {
    font-size: 2.5rem;
  }
  #hero-section .content h2 {
    font-size: 3.5rem;
  }
  #hero-section .content h1 {
    font-size: 2.1rem;
    margin-bottom: 2.9rem;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 40%;
  }
}
/*# sourceMappingURL=main.css.map */